
.yurt {
    text-align: center;
    justify-content: center;
    font-size: 4.0rem;
    font-family: monospace;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
    justify-items: center;
    margin: 30px;
  }

  
  @media (max-width: 768px) {
    .projects {
      grid-template-columns: 1fr; /* 1 project per row on small screens */
    }
  }
  

  .project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: transparent;
    background-size:cover;
    background-position: center center;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-thumbnail {
    width: 70%;
    height: 100%;
    background-size: 50% 50%;
    background-position: center;
    transition: transform 0.3s ease;
    background-color: transparent;
  }
  
  .project-thumbnail:hover {
    transform: scale(1.05);
  }
  
  .project-info {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 100%;
  }

  .project-card:hover .project-info {
    opacity: 1;
    background-color: #52796fba;
  }
  
  .project-info h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .project-links {
    display: flex;
    flex-direction: column;
  }
  
  .project-links a {
    display: inline-block;
    color: white;
    background-color: #84a98c;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
  }
  
  .project-links a:hover {
    background-color: #02652b;
  }

  