#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: Arial, sans-serif;
}

section {
  padding: 50px;
}

footer {
  color: #fff;
  padding: 20px;
  width: 100%;
  text-shadow: 
    1px 1px 25px #f0a500;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-top: auto; /* Ensures footer stays at bottom */
}

footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  text-shadow: 
    1px 1px 25px #f0a500;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.project {
  margin-bottom: 20px;
}

.project img {
  width: 100%;
  height: auto;
}

.project a {
  display: block;
  margin-top: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

section {
  padding: 50px 20px;
}

h1, h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  
}

html {
  scroll-behavior: smooth;
}

/* Set Spinwerad as the default font for the App component */
.App {
  font-family: 'Spinwerad', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use viewport height */
}

main {
  flex: 1; /* Allow main content to grow and push footer down */
}
